[Unit]
Description=Aerospike Server
After=network.target
Wants=network.target

[Service]
PIDFile=/var/run/aerospike/asd.pid
LimitNOFILE=100000
TimeoutSec=15
User=aerospike
Group=aerospike
EnvironmentFile=/etc/sysconfig/aerospike
PermissionsStartOnly=True
ExecStartPre=/usr/bin/asd-systemd-helper
ExecStart=/usr/bin/asd $ASD_COLDSTART --config-file $ASD_CONFIG_FILE --foreground

[Install]
WantedBy=multi-user.target
